sudo: true
dist: xenial

language: python


matrix:
  fast_finish: true
  include:
    - python: 3.7
      env:
        - JOB: 'UNITTEST_3.7'
        - FULL_DEPS: true
    - dist: xenial
    - sudo: yes
    - python: 3.6
      env:
        - JOB: 'UNITTEST'
        - FULL_DEPS: true
    - python: 3.6
      env:
        - JOB: 'UNITTEST_pd_0.22'
        - FULL_DEPS: true
    - python: 3.6
      env:
        - JOB: 'DOCS'
        - FULL_DEPS: true
cache: pip


notifications:
  email: false

before_install:
  - |
      echo "before install"

# Install packages
install:
  # Install dependencies
  - |
     echo "install"
     pip install -U setuptools
  - |
    if [[ "$JOB" == "UNITTEST" ]]; then
      pip install -e .[testing]
      pip install flake8
    elif [[ "$JOB" == "UNITTEST_pd_0.22" ]]; then
      pip install -e .[testing]
      pip install pandas==0.22.0
      pip install flake8
    elif [[ "$JOB" == "UNITTEST_3.7" ]]; then
      pip install -e .[testing]
      pip install flake8
    
    elif [[ "$JOB" == "DOCS" ]]; then
    pip install sphinx sphinx-bootstrap-theme
    fi
  - pip list

script:
  - |
    if [[ "$JOB" == "UNITTEST" ]]; then
      coverage erase
      pytest
    elif [[ "$JOB" == "UNITTEST_pd_0.22" ]]; then
      coverage erase
      pytest
    elif [[ "$JOB" == "UNITTEST_3.7" ]]; then
      coverage erase
      pytest
     
    elif [[ "$JOB" == "DOCS" ]]; then
      # low pandoc version leads to a warning so
      # SPHINXOPTS=-W fails
      python setup.py docs
    fi


# Calculate coverage
after_success:
  - echo "success"
  - |
      #if [[ "$JOB" == "UNITTEST" ]]; then
      #coveralls --rcfile=.coveragerc
    

